include:
  - services/3xui/compose.yml

services:
  # PROXY
  traefik:
    image: traefik:v3.4
    restart: always
    container_name: traefik
    user: "0:0"  # Run as root to access the acme.json file
    ports:
      - "80:80"
      - "6500:6500"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/etc/traefik/traefik.toml
      - ./acme/acme.json:/acme/acme.json
  redirect-service:
    image: traefik/whoami  # Lightweight image, won't actually be used
    ports:
      - "443:443"
    labels:
      - traefik.enable=true
      # Redirect base URL to external site
      - traefik.http.routers.redirect-root.rule=Host(`${HOST}`) && Path(`/`)
      - traefik.http.routers.redirect-root.entrypoints=fake

volumes:
  acme:
