services:
  3xui:
    image: ghcr.io/mhsanaei/3x-ui:latest
    container_name: 3xui_appl
    labels:
      - traefik.enable=true
      # Main web interface router
      - traefik.http.routers.3xui_appl.rule=Host(`${HOST}`)
      - traefik.http.routers.3xui_appl.entrypoints=websecure
      - traefik.http.routers.3xui_appl.tls.certresolver=letsencrypt
      - traefik.http.routers.3xui_appl.service=3xui_appl
      - traefik.http.services.3xui_appl.loadbalancer.server.port=2053

      - traefik.http.routers.3xui_appl_sub.rule=Host(`${HOST}`) && PathPrefix(`/sub`)
      - traefik.http.routers.3xui_appl_sub.entrypoints=websecure
      - traefik.http.routers.3xui_appl_sub.tls.certresolver=letsencrypt
      - traefik.http.routers.3xui_appl_sub.service=3xui_appl_sub
      - traefik.http.services.3xui_appl_sub.loadbalancer.server.port=2096
    volumes:
      - ./data/db/:/etc/x-ui/
      - ./data/cert/:/root/cert/
      - /etc/letsencrypt/live/${HOST}/fullchain.pem:/root/customcert/fullchain.pem
      - /etc/letsencrypt/live/${HOST}/privkey.pem:/root/customcert/privkey.pem
    environment:
      XRAY_VMESS_AEAD_FORCED: "false"
      XUI_ENABLE_FAIL2BAN: "true"
    ports:
      - "8080:8080"
      - "8443:8443"
      - "8000:8000"
      - "33000-33100:33000-33100"
    tty: true
    restart: unless-stopped
